@font-face {
    src: url("./../fonts/Alexandra.woff");
    font-family: "custom-font";
}

.gallery .frame {
    overflow: hidden;
    border-radius: 3px;
}
.gallery .frame img {
    transition: all 0.3s;
    border-radius: 3px;
}
.gallery .frame:hover img {
    transform: scale(1.1);
}
#music {
    display: none;
}
.play-pause {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding: 0px 5px;
    position: fixed;
    top: 23px;
    left: 23px;
    z-index: 100;
    cursor: pointer;
    text-align: center;

    border-top: 10px solid transparent;
    border-left: 25px solid #efbf69;
    border-bottom: 10px solid transparent;
}

.play-pause.on {
    border-style: double;
    border-width: 0px 0 0px 22px;
}

.play-pause.aos-animate {
    opacity: 0.5 !important;
}

.play-pause > img {
    vertical-align: inherit;
}
@media (min-width: 576px) {
    .modal-sm {
        max-width: 330px;
    }
}
.boning {
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #efbf69;
}

.nganten {
    font-family: "custom-font";
    font-size: 2.75rem;
    color: #efbf69;
}

.ningkuning {
    color: #efbf69;
}

.tobe {
    color: inherit;
}
